<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/appointment_form.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/casepaper.jpg') }}" alt=" Image" class="user-image">
            <div class="header-title">Confirm Appointment</div>
        </div>
    </header>

    <!-- Form Section -->
    <main>
        <!-- Redirect to nextpage.html when the form is submitted -->
        <form action="{{ url_for('pay_page') }}" method="post">
            <input type="text" placeholder=" Name" required>
            <input type="text" placeholder=" Address" required>
            <input type="text" placeholder="Contact No." name="contact" pattern="\d{10}" maxlength="10" title="Please enter a valid 10-digit phone number" required>
            
            <input type="text" placeholder="Email" required>
            <input type="text" placeholder="Payment Mode" required>
            <button type="submit">Submit and Pay</button>
        </form>
    </main>
</body>
</html>
