<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Speciality</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/Doctor_info.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='../static/images/doc.avif') }}" alt="Header Image">
            <h1>Doctors Speciality</h1>
        </div>
    </header>
    
    <div class="container" id="hospitalsList">
        {% for hospital in hospitals %}
                <h1>{{ hospital[0] }}</h1>
                <h2>Doctor Name: {{ hospital[1] }}</h2>
                <h3>Diagnostics: {{ hospital[2] }}</h3>
                <h3>Medicines: {{ hospital[3] }}</h3>
        {% endfor %}
        
        <!-- Button for rating and feedback -->
        <div class="button-container">
            <a href="{{ url_for('rating_and_feedback') }}" class="btn">Rating and Feedback</a>
        </div>
    </body>
    </html>
