<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/doctors_list.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/doc.avif') }}" alt="Image description" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;margin-left: 20px;">
            <div class="header-title" style="margin-left: 20px;">Doctors List</div>
        </div>              
    </header>

    <!-- Search for doctor -->
    <div class="search-container">
        <input type="text" id="searchBar" placeholder="Search for a doctor...">
    </div>

    <!-- Doctors List -->
    <div class="doctors-list-container" id="doctorsList">
        {% for doctor in doctors %}
        <div class="doctor-card" data-rating="{{ doctor[3]}}" data-url="{{ url_for('appointment_form', doctor_id=doctor[0]) }}">
            <h3>{{ doctor[1] }}</h3>
            <p>{{ doctor[2] }}</p>
            <p>Rating: {% for _ in range(doctor[3]|round(0)) %}⭐{% endfor %}</p>
                      
        </div>
        {% endfor %}
    </div>

    <script>
        document.getElementById('searchBar').addEventListener('input', function() {
            const searchQuery = this.value.toLowerCase();
            const doctors = document.querySelectorAll('.doctor-card');

            doctors.forEach(doctor => {
                const doctorName = doctor.querySelector('h3').textContent.toLowerCase();
                if (doctorName.includes(searchQuery)) {
                    doctor.style.display = 'block';
                } else {
                    doctor.style.display = 'none';
                }
            });
        });

        document.querySelectorAll('.doctor-card').forEach(doctor => {
            doctor.addEventListener('click', function() {
                const url = this.dataset.url;
                if (url) {
                    window.location.href = url;
                }
            });
        });
    </script>
</body>
</html>
