<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="../static/CSS/success.css">
</head>
<body>
    <main class="container">
        <h1>Payment Successful!</h1>
        <p>Your appointment has been confirmed successfully.</p>
        <a href="{{ url_for('main_front_page') }}" class="btn">Return to Homepage</a>
    </main>
</body>
</html>
