<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Status</title>
    <link rel="stylesheet" href="../static/CSS/option.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/images/Appointment.jpg" alt="Header Image">
            <title>patient Info</title>
        </div>
    </header>

    <div class="container">
        <h1>{{appointment[5]}}</h1>
        <h3>Address:</h3>
        <p>{{appointment[4]}}</p>
        <p>Contact No.: {{appointment[3]}}</p>

        <!-- Buttons as Links -->
        <div class="form-row">
            
            <a href="{{ url_for('history', id=appointment[0], user=appointment[1]) }}" class="btn">View History</a>
        </div>
        <div class="form-row">
           
            <a href="diagnosis?id={{ appointment[0] }}" class="btn">View Diagnosis</a>
        </div>
    </div>
</body>
</html>
