body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    background-color: #09bcb9;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.header-title {
    color: white;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 20px; /* Added padding for better spacing */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Smooth transition for focus effect */
}

input:focus,
select:focus {
    border-color: #09bcb9; /* Highlight border on focus */
    outline: none;
}

button {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #09bcb9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #068477;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .header-title {
        font-size: 20px;
    }

    main {
        padding: 10px; /* Adjusted for smaller screens */
    }

    button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
    }

    .header-title {
        font-size: 18px;
    }

    .user-image {
        height: 40px;
        width: 40px;
    }

    form {
        padding: 15px; /* Adjusted padding for smaller devices */
    }

    button {
        font-size: 16px;
        padding: 10px;
        width: 100%; 
    }
}
