
    /* Header Styles */
    header {
        background-color: #e6bfe5;
        color:#e6bfe5;
        padding: 20px;
        margin-left:5px ;
        margin-right:5px ;
        text-align: center;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-content img {
        max-width: 80px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .header-content h1 {
        font-size: 24px;
    }
    .container h1{
        text-align: center;
    }

    /* Body and Container Styles */
    body {
        font-family: Arial, sans-serif;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }
        
    .container {
        width: 60%;
        margin: 100px auto;
        padding: 80px;
        background-color: #e6bfe5; 
        border-radius: 10px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(55, 50, 50, 0.2); 
    }

    /* Responsive Styles */
    @media (max-width: 1024px) { /* Tablets, smaller screens */
        .container {
            width: 80%;
            padding: 60px;
            margin: 100px auto;
        }
        .header-content h1 {
            font-size: 22px;
        }
    }

    @media (max-width: 768px) { /* Portrait tablets, large phones */
        .container {
            width: 80%;
            padding: 40px;
            margin: 80px auto;
        }
        .header-content img {
            max-width: 60px;
        }
        .header-content h1 {
            font-size: 20px;
        }
    }

    @media (max-width: 480px) { /* Smartphones */
        .container {
            width: 80%;
            padding: 20px;
            margin: 50px auto;
        }
        h1 {
            font-size: 20px; /* Adjust font size for smaller screens */
        }
        p {
            font-size: 16px; /* Adjust paragraph font size */
        }
        .header-content img {
            max-width: 50px;
        }
        .header-content h1 {
            font-size: 18px;
        }
    }
    