a{
            text-decoration: none;
            color: black;

        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
        }

        header {
            width: 100%;
            background-color: #09bcb9;
            padding: 20px;
            display: flex;
            align-items: center;
        }

        .header-container {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .user-image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .header-title {
            color: white;
            font-size: 24px;
        }

        .search-container {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            flex-wrap: wrap;
        }

        #searchBar {
            flex-grow: 1;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-right: 10px;
            max-width: 70%;
        }

        

        .doctors-list-container {
            width: 90%;
            max-height: 70vh;
            overflow-y: auto; /* Scrollbar on the right */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .doctor-card {
            width: 95%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-color: white;
            cursor: pointer;
            transition: transform 0.2s;
            text-align: left;
            display: block;
            transition: transform 0.2s;
            transition-timing-function: ease-in-out;
            margin-top: 5px;
        }

        .doctor-card:hover {
            transform: translateY(-5px);
            box-shadow: 2px 6px 10px 1px black;
        }

        .doctor-card h3 {
            margin: 15px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .doctor-card p {
            margin: 6px;
        }

       

        @media screen and (max-width: 768px) {
            .header-container, .search-container {
                flex-direction: column;
                align-items: center;
            }

            #searchBar  {
                width: 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }

            .doctor-card {
                width: 100%;
            }
        }
        @media screen and (max-width: 480px) {
            header {
                padding: 10px;
            }
        
            .doctor-card {
                padding: 10px;
            }
        }
        