body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    color: #333;
  }

  .iconr {
    font-size: 3rem;
    margin-top: 10px;
  }

  .tagline {
    font-size: 1.2rem;
    color: #777;
    margin: 20px 0;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    max-height: 50px;
    max-width: 200px;
    margin: 0 auto;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #45a049;
  }

  button:focus {
    outline: none;
  }

  #locationInfo {
    color: #4CAF50;
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .extra-info {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
  }

  .extra-info a {
    color: #4CAF50;
    text-decoration: none;
  }

  .extra-info a:hover {
    text-decoration: underline;
  }

  /* Booking Details Section */
  .booking-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #e8f5e9;
    border-radius: 5px;
    display: none; /* Hidden by default */
    color: #333;
    font-size: 1rem;
    text-align: left;
  }