body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    background-color: #09bcb9;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.header-title {
    color: white;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

input[type="text"] {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #09bcb9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #068477;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .header-title {
        font-size: 20px;
    }

    main {
        padding: 20px;
    }

    button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
    }

    .header-title {
        font-size: 18px;
    }

    .user-image {
        height: 40px;
        width: 40px;
    }

    form {
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 10px;
        width: 30%;
    }
}
