
    /* Header Styles */
    header {
        background-color: #09bcb9;
        color: white;
        padding: 20px;
        margin-left:5px ;
        margin-right:5px ;
        text-align: center;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-content img {
        max-width: 80px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .header-content h1 {
        font-size: 24px;
    }

    /* Body and Container Styles */
    body {
        font-family: Arial, sans-serif;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
    }
        
    .container {
        width: 60%;
        margin: 100px auto;
        padding: 80px;
        background-color: rgb(191 231 233); 
        border-radius: 10px;
        text-align: left;
        box-shadow: 8px 8px 10px rgba(55, 50, 50, 0.2); 
    }

    /* Responsive Styles */
    @media (max-width: 1024px) { /* Tablets, smaller screens */
        .container {
            width: 80%;
            padding: 60px;
            margin: 100px auto;
        }
        .header-content h1 {
            font-size: 22px;
        }
    }

    @media (max-width: 768px) { /* Portrait tablets, large phones */
        .container {
            width: 80%;
            padding: 40px;
            margin: 80px auto;
        }
        .header-content img {
            max-width: 60px;
        }
        .header-content h1 {
            font-size: 20px;
        }
    }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .button-container .btn {
        display: inline-block;
        background-color: #09bcb9;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .button-container .btn:hover {
        background-color: #007a78;
        transform: scale(1.05);
    }

    @media (max-width: 480px) { /* Smartphones */
        .container {
            width: 80%;
            padding: 20px;
            margin: 50px auto;
        }
        h1 {
            font-size: 20px; /* Adjust font size for smaller screens */
        }
        p {
            font-size: 16px; /* Adjust paragraph font size */
        }
        .header-content img {
            max-width: 50px;
        }
        .header-content h1 {
            font-size: 18px;
        }
    
    }