body {
    font-family: Arial, sans-serif;
    background-image: url('../images/i6.jpg'); /* Update background to match image */
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 400px; /* Width remains the same */
    min-height: 400px; /* Increased minimum height */
    margin: 50px auto;
    padding: 30px; /* Padding for space inside */
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}


.profile-icon {
    font-size: 50px;
    margin-bottom: 15px;
    color: #4a4a4a; /* Darker neutral color for the icon */
}

.rating {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f39c12; /* Gold color for rating */
}

.details {
    margin-bottom: 15px;
}

.details p {
    margin: 5px 0;
    font-size: 18px;
    color: #333; /* Neutral color for text */
}

.appointment-time {
    margin-bottom: 20px;
}

.appointment-time p {
    margin: 0;
    font-size: 18px;
    color: #333; /* Neutral color for text */
}

.qr-code {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    padding: auto;
    background-color: #e76f51; /* Accent color for the QR code box */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for QR code box */
}

.book-button {
    background-color: #00a6a6; /* Match button color with header */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.book-button:hover {
    background-color: #008080; /* Darker shade on hover */
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 30px auto;
        padding: 15px;
    }

    .profile-icon {
        font-size: 40px;
    }

    .details p, .appointment-time p, .rating {
        font-size: 16px;
    }

    .qr-code {
        width: 170px;
        height: 170px;
    }

    .book-button {
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    .profile-icon {
        font-size: 35px;
    }

    .details p, .appointment-time p, .rating {
        font-size: 14px;
    }

    .qr-code {
        width: 70px;
        height: 70px;
    }

    .book-button {
        font-size: 12px;
        padding: 8px;
    }
}
